<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>{{ appName }} - 404 page not found</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="images/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div id="body-wrapper">
		<section id="not-found">
			<h2>404 Page Not Found</h2>
			<p>The page you are looking for doesn't exist.</p>
		</section>
		<div>
			<p>Publish your articles the easy way with <a href="http://{{ hostName }}/">{{ appName }}</a>.</p>
		</div>
	</div>
</body>
</html> 